﻿$backgroundColor: #fafafa;

// header
$headerBGColor: #ffffff;
$headerTextColor: #dbdbdb;

// login
$loginBGColor: rgba(255,255,255,0.2);
$loginFormControlBGColor: #fff;
$loginFormControlShadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(147, 161, 187, 0.6);
$loginFormControlFocusBorderColor: #93a1bb;
$loginCopyrightColor: #eee;