﻿@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

@mixin flex($direction) {
    display: flex;
    display: -ms-flexbox;
    flex-direction: $direction;
    -ms-flex-direction: $direction;
}

@mixin align-items($align) {
    align-items: $align;
    -webkit-box-align: $align;
    -ms-flex-align: $align;
}