﻿<div class="post">
    <div class="header-post">
        <div class="name">
            {{article.user.userName}}
            <span>{{article.user.firstName}} {{article.user.lastName}}</span>
        </div>
        <div class="days">
            {{dateDifference}}
        </div>
    </div>
    <div class="content">
        <img ng-src="data:image/png;base64,{{article.photo.fileBytes}}"/>
    </div>
    <div class="comments-likes">
        <div class="likes">
            <span class="glyphicon glyphicon-heart"></span>
            {{article.likers.length}}
        </div>
        <div class="comments">
            <div ng-repeat="comment in article.comments">
                <div class="value">
                    <strong>{{comment.user.userName}}</strong>
                    {{comment.text}}
                </div>
            </div>
        </div>
    </div>
    <div class="add-comment-like">
        <div class="like" ng-if="!isLiked" ng-click="changeLike()"></div>
        <div class="liked" ng-if="isLiked" ng-click="changeLike()"></div>
        <div class="new-comment">
            <input type="text" ng-model="newComment" enter-click="submitComment(event)" placeholder="{{$root.i18n('Common', 'AddComment')}}"/>
        </div>
    </div>
</div>