﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.post {
    $background: #fff;
    $marginPostTop: 60px;

    margin-top: $marginPostTop;
    @include flex(column);
    @include align-items(stretch);
    border: 1px solid #efefef;
    border-radius: 3px;
    background: $background;
    min-height: 150px;
    height: auto;

    .header-post {
        @include flex(row);
        @include align-items(center);
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-between;
        height: 80px;

         .name {
             @include flex(column);

             span {
                 color: $headerTextColor;
                 font-size: 10px;
             }
         }
    }

    .content {

        img {
            width: 100%;
        }
    }

    .comments-likes {
        $margin: 15px;

        @include flex(column);
        @include align-items(flex-start);
        justify-content: flex-start;
        min-height: 80px;
        font-size: 16px;

        .likes {
            margin: $margin;
        }

        .comments {
            margin: $margin;


            .value {
                word-wrap: break-word;
                word-break: break-all;

                font-weight: 100;
                margin: 5px;

                strong {
                    font-weight: 400;
                }
            }
        }
    }

    .add-comment-like {
        @include flex(row);
        @include align-items(center);
        justify-content: flex-start;
        border-top: 1px solid #efefef;
        margin: 15px;
        margin-bottom: 0;

        .like {
            background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
            background-repeat: no-repeat;
            background-position: -207px -229px;
            height: 24px;
            width: 24px;
            margin: 15px;
        }

        .liked {
            background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
            background-repeat: no-repeat;
            background-position: -276px -180px;
            height: 24px;
            width: 24px;
            margin: 15px;
        }

        .new-comment {
            flex-grow: 1;
            font-weight: 100;

            input {
                width: 100%;
                border: 0;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}