﻿<layout>
    <div class="user" ng-if="loggedUser && user">
        <div class="personal-info">
            <div class="nickname">
                {{user.userName}}
                <div ng-if="user.id != loggedUser.id" class="right-align">
                    <button ng-if="!isAlreadyFollowing" class="btn btn-default" ng-click="follow()">{{$root.i18n('Common', 'Follow')}}</button>
                    <button ng-if="isAlreadyFollowing" class="btn btn-success" ng-click="unfollow()">{{$root.i18n('Common', 'Unfollow')}}</button>
                </div>
                <div ng-if="user.id == loggedUser.id" class="right-align">
                    <button class="btn btn-default" ng-click="logout()">{{$root.i18n('Common', 'Logout')}}</button>
                </div>
            </div>
            <div class="post-info">
                <div>
                    {{$root.i18n('Common', 'Posts')}}: <span>{{user.posts ? user.posts.length : 0}}</span>
                </div>
                <div>
                    {{$root.i18n('Common', 'ObservedUsers')}}: <span>{{user.observedUsers ? user.observedUsers.length : 0}}</span>
                </div>
            </div>
            <div class="name">
                {{user.firstName}} {{user.lastName}}
            </div>
        </div>
        <div class="posts container-fluid">
            <user-post class="col-xs-12 col-sm-6 col-md-4" ng-if="user.posts" ng-repeat="post in user.posts" article="post"></user-post>
            <div class="no-posts" ng-if="!user.posts || user.posts.length == 0">
                {{$root.i18n('Common', 'NoPosts')}}
            </div>
        </div>
    </div>
</layout>