﻿@import '../../colors.scss';
@import '../../mixins.scss';

.user {
    $marginBottomInfo: 10px;
    $nicknameFontSize: 32px;
    $nameFontSize: 16px;

    max-width: 990px;
    width: 100%;
    margin: 30px auto 0;

    .personal-info {
        @include flex(column);
        @include align-items(flex-start);
        max-width: 660px;
        width: 100%;
        margin: 0 auto;

        .nickname {
            @include flex(row);
            font-size: $nicknameFontSize;
            margin-bottom: $marginBottomInfo;
            font-weight: 100;
            width: 100%;
            justify-content: space-between;
        }

        .post-info {
            font-size: $nameFontSize;
            margin-bottom: $marginBottomInfo;
            span {
                font-weight: 600;
            }
        }

        .name {
            font-size: $nameFontSize;
            font-weight: 600;
            margin-bottom: $marginBottomInfo;
        }
    }

    .posts {
        margin: $marginBottomInfo;
        width: 100%;

        .no-posts {
            @include flex(row);
            justify-content: center;
            padding-top: 30px;
            font-size: 28px;
        }
    }
}