﻿@import '../../colors.scss';
@import '../../mixins.scss';

.login {
    background-image: url('../../../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > div {
        @include flex(column);
        justify-content: center;
        height: 100%;

        .form-title {
            text-align: center;
        }

        .login-form {
            padding: 25px;
            background: #fff;
            border: 1px solid #dbdbdb;
        }
    }
}