﻿<div class="container-fluid login" height-fill>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 bg-light login-form">
                        <form name="loginForm">
                            <fieldset>
                                <h3 class="form-title">{{i18n('Common', 'LoginText')}}</h3>
                                <div class="alert alert-danger" ng-show="showError">
                                    <span class="close" ng-click="showError = null">&times;</span>
                                    <span>{{showError}}</span>
                                </div>
                                <div class="alert alert-info" ng-show="showInfo">
                                    <span class="close" ng-click="showInfo = null">&times;</span>
                                    <span>{{showInfo}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        <input type="text" value="" placeholder="{{i18n('Common', 'UserText')}}" ng-model="loginModel.userName" name="UserName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="isReset">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input type="password" placeholder="{{i18n('Common', 'Password')}}" name="Password" ng-model="loginModel.password" class="form-control custom-form-control" required>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="button" ui-sref="register" class="btn btn-custom btn-blue pull-left">
                                        {{i18n('Common', 'Register')}}
                                    </button>
                                    <button type="submit" class="btn btn-custom btn-blue pull-right" ng-click="logIn()">
                                        {{i18n('Common', 'Login')}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>