﻿<div class="container-fluid registration" height-fill>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 bg-light registration-form">
                        <form name="registerForm">
                            <fieldset>
                                <h3 class="form-title">{{i18n('Common', 'RegistrationText')}}</h3>
                                <div class="alert alert-danger" ng-show="showError">
                                    <span class="close" ng-click="showError = null">&times;</span>
                                    <span>{{showError}}</span>
                                </div>
                                <div class="alert alert-info" ng-show="showInfo">
                                    <span class="close" ng-click="showInfo = null">&times;</span>
                                    <span>{{showInfo}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        <input type="text" value="" placeholder="{{i18n('Common', 'UserText')}}" ng-class="{'ng-invalid': !isAvailable, 'red-input': !isAvailable}" ng-model="registrationModel.userName" ng-keyup="checkUserName(event)" name="UserName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        <input type="text" value="" placeholder="{{i18n('Common', 'FirstName')}}" ng-model="registrationModel.firstName" name="FirstName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                        <input type="text" value="" placeholder="{{i18n('Common', 'LastName')}}" ng-model="registrationModel.lastName" name="LastName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input type="password" placeholder="{{i18n('Common', 'Password')}}" ng-keyup="checkPasswords(event)" name="Password" ng-model="registrationModel.password" class="form-control custom-form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input type="password" value="" placeholder="{{i18n('Common', 'ConfirmPassword')}}" ng-class="{'ng-invalid': secondPasswordIncorrect, 'red-input': secondPasswordIncorrect}" ng-keyup="checkPasswords(event)" ng-model="secondPassword" name="SecondPassword" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-custom btn-blue pull-right" ng-click="register()">
                                        {{i18n('Common', 'Register')}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>