﻿@import '../../colors.scss';
@import '../../mixins.scss';

.registration {
    background-image: url('../../../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > div {
        @include flex(column);
        justify-content: center;
        height: 100%;

        .form-title {
            text-align: center;
        }

        .registration-form {
            padding: 25px;
            background: #fff;
            border: 1px solid #dbdbdb;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

        .red-input {
            background-color: indianred;
        }
    }
}