﻿@import '../../colors.scss';
@import '../../mixins.scss';

.dashboard {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    .no-posts {
        @include flex(row);
        @include align-items(center);
        height: 300px;
        justify-content: center;
        font-size: 24px;
    }
}