﻿<layout>
    <div class="dashboard">
        <post ng-repeat="article in posts" article="article"></post>
        <div class="no-posts" ng-if="!posts || posts.length == 0">
            {{$root.i18n('Common', 'NoPosts')}}
        </div>
    </div>
</layout>