﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.form-directive {
    $size: 300px;

    .photo {
        @include flex(row);
        @include align-items(center);
        justify-content:center;
        height: $size;
        width: 100%;

        .photo-preview {
            max-height: $size;
            height: 100%;
        }
    }

    .select-file-container {
        @include flex(row);
        @include align-items(center);
        justify-content: center;
        width: 100%;
        max-width: $size;
        height: 100%;
        max-height: $size;
        border: 3px dashed $headerTextColor;
        cursor: pointer;
    }
}