﻿<div class="form-directive">
    <form name="ctrl.postForm">
        <div class="photo">
            <div ng-hide="ctrl.isPreview" class="select-file-container" ngf-select ngf-drop ng-model="ctrl.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB">{{$root.i18n('Common', 'SelectFile')}}</div>
            <img ng-show="ctrl.isPreview" ngf-thumbnail="ctrl.file" class="photo-preview" />
        </div>
        <button class="btn btn-primary" type="submit" ng-click="submit()">{{$root.i18n('Common', 'Apply')}}</button>
    </form>
</div>