﻿<div class="header">
    <div class="h-container">
        <div class="logo-title">
            <a href="/#/dashboard">
                <img src="images/logo-title.png"/>
            </a>
        </div>
        <div class="search-bar">
            <input type="text" ng-model="search" placeholder="{{$root.i18n('Common', 'Search')}}" ng-blur="lostFocus()" ng-focus="gainedFocus()"/>
            <span class="glyphicon glyphicon-search search-icon"></span>
            <div class="result-list">
                <a ui-sref="user({id: res.id})" ng-if="searchResults.length > 0" class="single" ng-repeat="res in searchResults">
                    <div class="user-name">
                        {{res.userName}}
                    </div>
                    <div class="name">
                        {{res.firstName}} {{res.lastName}}
                    </div>
                </a>
                <div ng-if="searchResults.length == 0" class="no-data-info">
                    {{$root.i18n('Common', 'NoData')}}
                </div>
            </div>
        </div>
        <div class="buttons">
            <a ui-sref="addPost" class="btn btn-default add-new-btn">{{$root.i18n('Common', 'AddPost')}}</a>
            <a ui-sref="user({id: user.id})" class="user-icon">
                <div class="glyphicon glyphicon-user"></div>
            </a>
        </div>
    </div>
</div>