﻿@import '../../../mixins.scss';
@import '../../../colors.scss';

.header {
    $searchIconSize: 10px;

    margin: 0;
    border-bottom: 1px solid #dbdbdb;
    background-color: $headerBGColor;
    @include flex(column);
    box-sizing: border-box;
    align-items: center;
    height: 78px;

    .h-container {
        @include flex(row);
        justify-content: center;
        max-width: 1010px;
        width: 100%;
        padding: 26px 40px;

        .logo-title {
            flex: 1 9999 0%;

            img {
                height: 150%;
            }
        }

        .search-bar {
            $border: 1px solid #dbdbdb;

            width: 215px;
            min-width: 125px;
            flex: 0 1 auto;
            height: 28px;
            position: relative;

            input {
                border: $border;
                border-radius: 3px;
                padding: 3px 10px 3px 26px;
                background-color: #fafafa;
                font-size: 14px;
            }

            .search-icon {
                position: absolute;
                top: 9px;
                left: 11px;
                z-index: 2;
                height: $searchIconSize;
                width: $searchIconSize;
                color: #dbdbdb;
                font-size: $searchIconSize;
            }

            .result-list {
                position: absolute;
                top: 40px;
                left: -20%;
                right: -10%;
                max-height: 300px;
                background: #fff;
                border: $border;
                overflow-y: auto;
                box-shadow: 0 0 5px rgba(0,0,0,.13);

                .single {
                    @include flex(column);
                    @include align-items(flex-start);
                    justify-content: center;
                    font-size: 12px;
                    padding: 5px 0px 5px 20px;
                    border-bottom: $border;
                    text-decoration: none;

                    &:hover {
                        background: $backgroundColor;
                    }

                    .user-name {
                        font-weight: 600;
                        color: #000;
                    }

                    .name {
                        font-weight: 300;
                        color: #999;

                    }
                }

                .no-data-info {
                    height: 200px;
                    @include flex(column);
                    @include align-items(center);
                    justify-content: center;
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }

        .buttons {
            @include flex(row);
            justify-content: flex-end;
            align-content: center;
            flex: 1 0 0%;

            a {
                color: #000;
                font-size: 20px;
            }

            .add-new-btn {
                $fontSize: 12px;

                font-size: $fontSize;
                line-height: $fontSize;
                margin-right: 10px;
            }
        }
    }
}