﻿<layout>
    <div class="add-post">
        <div class="form-container">
            <h2>{{$root.i18n('Common', 'AddingPost')}}</h2>
            <post-form></post-form>
        </div>
    </div>
</layout>