﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.user-post {
    $marginLeftRight: 15px;
    $doubleMargin: 30px;
    $postHeight: 200px;

    overflow: hidden;
    position: relative;
    margin-bottom: $marginLeftRight;
    margin-top: $marginLeftRight;
    height: $postHeight;

    .content-post {
        position: relative;
    }

    img {
        width: 100%;
    }

    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 200px;
        opacity: 0;
        @include flex(row);
        @include align-items(center);
        background-color: rgba(0,0,0,0.3);
        color: $loginFormControlBGColor;
        font-size: 24px;
        justify-content: center;

        &:hover {
            opacity: 1;
        }

        .likes {
            margin-right: $marginLeftRight;
        }
    }
}