﻿<div class="user-post">
    <div class="content-post">
        <img ng-src="data:image/png;base64,{{article.photo.fileBytes}}" />
        <div class="info">
            <div class="likes">
                <span class="glyphicon glyphicon-heart"></span>
                {{article.likers.length}}
            </div>
            <div class="comments">
                <span class="glyphicon glyphicon-comment"></span>
                {{article.comments.length}}
            </div>
        </div>
    </div>
</div>